<h1>Edit ingredient:</h1>

<%= form_for [@recipe, @ingredient] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>
  <p><%= f.submit class: "btn btn-primary mt-3"%></p>
<% end %>